* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow: hidden;
}

body {
  background-image: url("/images/bg.jpg");
  background-repeat: repeat;
  background-size: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 5px;
  padding-right: 20px;
  font-size: 1.4rem;
  overflow: hidden;
}

header div {
  background: #adb0b0;
  color: white;
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
}

header img {
  width: 11rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 12rem;
  line-height: 0.9;
}

.content-container select {
  margin-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

button {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #40b0bf;
  border-style: none;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  header {
    width: 80%;
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}
